.content-ibge {
  width: 100%;
  max-width: 600px;
  background-color: #333;
  margin: 0 auto;
}

.content-ibge ul {
  list-style-type: none;
}

.content-ibge ul li {
  padding: 5px 15px;
  cursor: pointer;
  
  transition: 250ms;
}

.content-ibge ul li.selected {
  background-color: royalblue !important;
}

.content-ibge ul li:nth-child(2n+1) {
  background-color: #33353b;
}

.content-ibge ul li:hover {
  background-color: royalblue;
}